<h1 class="page-title" title="Leaderboard">Leaderboard</h1>

<section class="lb-row  w-80">
    <div class="heros">
        
        <div class="heros__inner best3">
            <img class="bg-svg" src="../assets/img/bg-color-anime.svg">
            <div class="best3__wrapper">
                <div class="  best3--c small-c top4">

                    <div class="inner">
                        <img alt="{{leaderBoardData[3]?.name}}" src="http://10.0.4.51:8080/FitMojo-v1/profilePic/{{leaderBoardData[3]?.userId}}/{{leaderBoardData[3]?.profilePicUrl}}" (error)="onImgError($event)">
                    </div>
                    <div class="scrore">{{leaderBoardData[3]?.stepCount}}</div>
                    <div class="name">{{leaderBoardData[3]?.name}}</div>

                    
                </div>
        

                <div class="  best3--c small-c top2">

                    <div class="inner">
                        <img alt="{{leaderBoardData[1]?.name}}" src="http://10.0.4.51:8080/FitMojo-v1/profilePic/{{leaderBoardData[1]?.userId}}/{{leaderBoardData[1]?.profilePicUrl}}" (error)="onImgError($event)">
                    </div>
                    <div class="scrore">{{leaderBoardData[1]?.stepCount}}</div>
                    <div class="name">{{leaderBoardData[1]?.name}}</div>

                    
                </div>
        
                <div class=" best3--c big-c top1">
                    <div class="inner">
                        <img alt="{{leaderBoardData[1]?.name}}" src="http://10.0.4.51:8080/FitMojo-v1/profilePic/{{leaderBoardData[0]?.userId}}/{{leaderBoardData[0]?.profilePicUrl}}" (error)="onImgError($event)">
                    </div>
                    <div class="scrore">{{leaderBoardData[0]?.stepCount}}</div>
                    <div class="name">{{leaderBoardData[0]?.name}}</div>
                </div>
                <div class=" best3--c small-c top3">
                    
                    <div class="inner">
                        <img alt="{{leaderBoardData[1]?.name}}" src="http://10.0.4.51:8080/FitMojo-v1/profilePic/{{leaderBoardData[2]?.userId}}/{{leaderBoardData[2]?.profilePicUrl}}" (error)="onImgError($event)">
                    </div>
                    <div class="scrore">{{leaderBoardData[2]?.stepCount}}</div>
                    <div class="name">{{leaderBoardData[2]?.name}}</div>
                </div>

                <div class="  best3--c small-c top5">

                    <div class="inner">
                        <img alt="{{leaderBoardData[4]?.name}}" src="http://10.0.4.51:8080/FitMojo-v1/profilePic/{{leaderBoardData[4]?.userId}}/{{leaderBoardData[4]?.profilePicUrl}}" (error)="onImgError($event)">
                    </div>
                    <div class="scrore">{{leaderBoardData[4]?.stepCount}}</div>
                    <div class="name">{{leaderBoardData[4]?.name}}</div>

                    
                </div>
            </div>


            <img class="trophy" src="../assets/img/trophy.png">
        </div>
    </div>
    
</section>

<section class="lb-ranking-table myrank" *ngIf="userCurrentRank >= 10">
    <h6>My current rank</h6><br/>
    <div  class="lb-ranking-row " >
        <div class="row__inner">
            <div class="badge"></div>
            <div class="rank">{{userCurrentRank}}
                <span>Rank</span>
            </div>
            <div class="avatar">
                <img src="http://10.0.4.51:8080/FitMojo-v1/profilePic/{{leaderBoardData[userCurrentRank - 1]?.userId}}/{{leaderBoardData[userCurrentRank - 1]?.profilePicUrl}}" alt="{{leaderBoardData[userCurrentRank - 1].name}}" title="{{leaderBoardData[userCurrentRank - 1].name}}" (error)="onImgError($event)">
            </div>
            <div class="name">{{leaderBoardData[userCurrentRank - 1].name}}</div>
            <div class="name teamname">{{leaderBoardData[userCurrentRank - 1].teamName}}</div>
            <div class="challenge">
                <i class="icon-foot"></i>
                <div class="txt">
                <span>Steps</span>
                <span>{{leaderBoardData[userCurrentRank - 1].stepCount}}</span>
                </div>
            </div>
        </div>
    </div>
</section> 
<section class="lb-ranking-table">
    
    <div class="lb-ranking-row " *ngFor="let person of leaderBoardData; index as i">
        <div class="row__inner id__{{person.userId}}"  [class.myRank]="person.userId === userId">
            <img class="bg-svg" src="../assets/img/bg-color-anime.svg" *ngIf="person.userId === userId">
        <div class="badge">
            <img *ngIf="i+1 === 1" src="../assets/img/gold-medal.png" alt="gold medal">
            <img *ngIf="i+1 === 2"  src="../assets/img/silver-medal.png" alt="silver medal">
            <img *ngIf="i+1 === 3"  src="../assets/img/bronze-medal.png" alt="bronze medal">
        </div>
        <div class="rank">{{i+1}}
            <span>Rank</span>
        </div>

        <div class="avatar">
            <img src="http://10.0.4.51:8080/FitMojo-v1/profilePic/{{person.userId}}/{{person.profilePicUrl}}" alt="{{person.name}}" title="{{person.name}}" (error)="onImgError($event)">
        </div>
        <div class="name">{{person.name}}</div>
        <div class="name teamname">{{person.teamName}}</div>
        
        <div class="challenge">
            <i class="icon-foot"></i>
            <div class="txt">
            <span>Steps</span>
            <span>{{person.stepCount}}</span>
            </div>
        </div>
        </div>
    </div>
</section>

<section class="charts w-80">
    <app-progress-chart *ngIf="!isUserIntegrationOpen"></app-progress-chart>
    <p *ngIf="isUserIntegrationOpen">Please Conect yout Fitness Device to see your Progress</p>
</section>
