<div>


    <ngx-smart-modal #connectWellness identifier="connectWellness" class="connectWellness small-dialog" customClass="connectWellness" [dismissable] = "false" >
        <button class="close-btn" (click)="closeEntry()"><i class="icon-close"></i></button>
        <div *ngIf="step === 'SELECT_TYPE'">
            <h3>Connect us via below one of the app</h3>


            <div class="applist active" (click)="connectFitnessApp('GOOGLE_FIT')">
                <img src="./assets/img/gfit.png" alt="Google Fit"/>
            </div>
            <div class="applist">
                <img src="./assets/img/apple-health.png" alt="Apple Health" />
            </div>

            <div class="applist">
                <img class="small" src="./assets/img/fitbit.svg" alt="Apple Health" />
            </div>
            <div class="applist">
                <img src="./assets/img/samsung-health.png" alt="Garmin" />
            </div>


            <div class="applist">
                <img src="./assets/img/garmin.png" alt="Garmin" />
            </div>
        </div>
        <div *ngIf="step === 'INTEGRATE'">
            <iframe [src]="integrationUrl | safe"></iframe>

        </div>


    </ngx-smart-modal>
</div>