
<ngx-smart-modal #teamSelection identifier="teamSelection" class="teamSelection small-dialog" customClass="teamSelection" [dismissable] = "false" >
    

<div class="select-team"  [formGroup]="teamSelectionForm">
    <p class="desc">In order to track your progress within your team and organization, please update your correct details. </p>
    <div class="form-group">
        <label for="org">Select your organization</label>
        <div class="select select--disabled form-control">
        <select id="org" formControlName="teamId" name="teamId">
            <option *ngFor="let client of clients" value="{{client.id}}">{{client.name}}</option>
        </select>
        </div>
    </div>

    <div class="form-group">
        <label for="internalteam">Select your team</label>
        <div class="select form-control">
        <select id="internalteam" formControlName="clientTeamId" name="clientTeamId">
            <option *ngFor="let team of internalTeam" value="{{team.id}}">{{team.name}}</option>
        </select>
        </div>
    </div>

    <div class="form-group" *ngIf="uploadProfilePic">
        <label for="imgupload">Your profile image</label>
        <label class="custom-file-upload form-control">
            <p *ngIf="teamSelectionForm.get('fileName')?.value" >{{(teamSelectionForm.get('fileName')?.value)}}</p>
            <i *ngIf="!teamSelectionForm.get('fileName')?.value " class="icon-img"></i>
            <input (click)="resetFile()" (change)="onFileChange($event)" id="imgupload" class="form-control" type="file"
                placeholder="Please upload your profile image" name="image"></label>
    </div>
    <div class="form-group text-center">
    <button class="btn-1 btn-md save-btn w-100" (click)="saveTeamDetails()">
        Save
    </button>
    </div>
</div>

</ngx-smart-modal>
