.desc{
    font-size: 16px;
    color: rgba(#0a3d62, .8);
    max-width: 300px;
    text-align: center;
    margin-bottom: 20px;
}



.custom-file-upload {
    position: relative;
    cursor: pointer;

    i {
        font-size: 36px;
        position: absolute;
        inset: 0;
        display: flex;
        width: 100%;
        text-align: center;
        display: inline-block;
        margin: auto;
    }
}