body.dialog-open {
    overflow: hidden;


    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1050;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        outline: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        background: rgba(#0a3d62, .7);
    }

    .nsm-dialog {
        position: relative;
        width: auto;
        margin: 16px;
        pointer-events: none;
        border: 0;
        outline: none;
    }

    .nsm-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: initial;
        background-clip: padding-box;
        outline: 0;
    }

    .nsm-dialog-btn-close,
    .nsm-content>button {
        display: none;
        border: 0;
        visibility: hidden;

    }

    .entryModal {
        width: 100%;
        max-width: 600px;
    }
}