
<ngx-smart-modal #LoginModal identifier="LoginModal" customClass="LoginModal entryModal" [dismissable] = "false" >
    <button class="close-btn" (click)="closeEntry()"><i class="icon-close"></i></button>


    <div class="form form__row">
        <div class="form__img">
            <img
                src="https://images.unsplash.com/photo-1644456654239-3c036c0c28fe?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1373&q=80">
            <div class="form--quote">
                Stop<br />wishing.<br />
                start<br /> <span>doing</span>

            </div>
        </div>
        <div class="form__fields"> 

            <div class="form__container">
                <form class="" [formGroup]="loginForm">
                    <h3 class="form--greet">Welcome back!</h3>
                
                    <div class="error">
                        please check given details
                    </div>
                    <div class="form-group" [ngClass]="getFormFiledClass('name',loginForm)">
                        <label for="email">Email</label>
                        <input id="email" class="form-control" type="email"
                            placeholder="Please enter your email" formControlName="emailId" name="emailId" required>
                            <p class="errortxt">Email id doesnot exist</p>
                            <p class="errortxt" *ngIf="shouldShowErrors('name',loginForm)">{{getErrorMessage('name',loginForm)}}</p>
                        </div>
                    

                    <div class="form-group" [ngClass]="getFormFiledClass('password',loginForm)">
                        <label for="password">Password</label>
                        <div class="inpwrap">
                        <input id="password" class="form-control" type="password"
                            placeholder="Please enter your password" formControlName="password" 
                            name="password" required 
                            [type]="showPassword ? 'password' : 'text'"
                            >
                            <i  [className]="!showPassword ? 'icon-eye-off' : 'icon-eye'" (click)="showPassword = !showPassword"> </i>
                            
                        </div>
                        <p class="errortxt" *ngIf="shouldShowErrors('password',loginForm)">{{getErrorMessage('password',loginForm)}}</p>
                    </div>

                
                    <button class="btn-1 btn-md submit-btn" (click)="login()" >
                        Logn to Wellness <i class="icon-arrow_forward2 "></i>
                    </button>
                </form>

              
            </div>
        </div>
    </div>
</ngx-smart-modal>
