<section class="nav">
    <div class="nav--list" (click)="connectAccount()">
        <i class="icon-connect"></i>
        <span>Connect</span>
    </div>


    <div class="nav--list"  routerLinkActive="active"
    routerLink="/home"    >
        <i class="icon-medal"></i>
        <!-- <span>Leader board</span> -->
        <span>Board</span>
    </div>

    <div class="nav--list" (click)="myProfile()">
        <i class="icon-account"></i>
        <!-- <span>My profile</span> -->
        <span>Profile</span>
    </div>

    <div class="nav--list">
        <i class="icon-goal"></i>
        <!-- <span>Challenges</span> -->
        <span>Contest</span>
    </div>

    <div class="nav--list" (click)="logout()">
        <i class="icon-exit"></i>
        <span>Logout</span>
    </div>




</section>