.nav {
    display: flex;

    &--list{
        display: inline-flex;
        flex-direction: column;
        text-align: center;
        padding: 4px;
        color: #ffffff;
        background: linear-gradient(0deg, rgba(186, 220, 88, 1), #6ab04c 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
        cursor: pointer;
        i{
            font-size: 32px;
            margin-bottom: 4px;
        }
        span{
            font-size: 14px;
        }
    }
    &--list + &--list{
        margin-left: 15px;
    }
}
