<section class="nav">
    <div class="nav--list" (click)="connectAccount()">
        <i class="icon-connect"></i>
        <span>Connect Techmojo</span>
    </div>


    <div class="nav--list">
        <i class="icon-medal"></i>
        <span>Leaderboard</span>
    </div>

    <div class="nav--list" (click)="myProfile()">
        <i class="icon-account"></i>
        <span>My profile</span>
    </div>

    <div class="nav--list">
        <i class="icon-goal"></i>
        <span>Challenges</span>
    </div>

    <div class="nav--list" >
        <i class="icon-exit"></i>
        <span>Logout</span>
    </div>




</section>