<section class="nav">
    <div class="nav--list" >
    <!-- <i class="icon-leaderboard"></i> -->
    <i class="icon-medal"></i>
    <span>Leaderboard</span>
    </div>

    <div class="nav--list" >
        <i class="icon-account"></i>
        <span>Profile</span>
    </div>

    <div class="nav--list" >
        <i class="icon-goal"></i>
        <span>Challenges</span>
    </div>
        
    <div class="nav--list" (click)="login()">
        <i class="icon-exit"></i>
        <span>Logout</span>
    </div>
        
 

</section>