.mood{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    

    &--list{
        width: calc(100% / 6);
        padding: 10px;
        
        .inside{
            background: linear-gradient(to bottom, rgba(#4834d4, .5) 20%, rgba(#0c2461, .1) 100%);
            border-radius: 10px;
            overflow: hidden;
            border: 2px solid rgba(#4834d4, .3);
            
            &:hover{
                background: linear-gradient(to bottom, rgba(#f9ca24, .9) 20%, rgba(#f6e58d, .9) 100%);
                border: 2px solid rgba(#f9ca24, .3);
                .txt{
                    background: linear-gradient(to right, rgba(#f9ca24, .9) 20%, darker(#f9ca24, 10%) 100%);
                }
                .emoji img{mix-blend-mode: unset;}
            }
        }
        .emoji{
            padding: 10px;
            display: inline-flex;
            min-height: 120px;

            img{
            width: 60%;
            height: 60%;
            object-fit: contain;
            margin: auto;
            mix-blend-mode: lighten;

        }}
        .txt{
            display: flex;
            justify-content: center;
            background: linear-gradient(to right, rgba(#4834d4, .5) 20%, rgba(#0c2461, .1) 100%);
            color: #fff;
            font-size: 16px;
            padding: 10px;
        }
    }
    @media(max-width: 767px) and (orientation: portrait),(max-width: 992px) and (orientation: landscape) {
        margin-left: -5px;
        margin-right: -5px;
        &--list{    
        width: calc(100% / 3);
        padding: 5px;
        .emoji{min-height: unset;}
        }
    }
}

.mood{
    &--list{
        img{width: 100%; height: 100%; object-fit: contain;}
    }
}


.bg{
    background: linear-gradient(to bottom, rgba(#4834d4, .5) 20%, rgba(#0c2461, .1) 100%);
    border: 2px solid rgba(#4834d4, .3);
}

.user-detail{
    border-radius: 10px;
    padding: 20px;
    @media(max-width: 767px) and (orientation: portrait),(max-width: 992px) and (orientation: landscape) {
        .col + .col{margin-top: 30px;}
    }
    
    hr{
        height: 2px;
        width: 100%;
        background: rgba(#4834d4, .5);
        margin: 20px auto;
        border: 0;
    }

    &--title{
        font-size: 16px;
        font-weight: 700;
        color: #FFF;
        margin-bottom: 20px;
        background: #0c2461;
    padding: 10px;
    border-radius: 10px;
    display: inline-flex;
    border: 2px solid rgba(#4834d4, .5);
    }
    label{
        font-size: 14px; 
         color: #a5b2ff;
         font-weight: 700;
         strong{
            color: #fff;
            text-transform: capitalize;
            padding-left: 10px;

        }
        }
        .user-photo{
            width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    filter: brightness(1.5);
        }
    .c-logo{
        object-fit: contain;
        max-width: 150px;
        max-height: 40px;
    }

    .c-team + .c-team{
        margin-top: 20px;
    }
    .c-team{
        label{
            margin-bottom: 10px; 
            display: flex;
            strong{
                // color: #a5b2ff;
            }
        }
    }
    .integration-status{
        font-size: 16px;
        font-weight: 700;
        padding: 2px 4px!important;
        border-radius: 4px;
        color: #0c2461!important;
        margin-left: 10px;
        &.ACTIVE{
            background: lime;
        }
        &.PAUSE{
            background: red;
        }
        &.RESUME{
            background: orange;
        }
        &.INACTIVE{
            background:  grey;
        }
    }
}


.row {
> *{
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}
.col{
    flex: 1 0 0%;
}