<ngx-smart-modal #myModal identifier="myModal" customClass="getin-modal" >
    <button class="close-btn" (click)="closeEntry()"><i class="icon-close"></i></button>

    <div class="form form__row">
        <div class="form__img">
            <img
                src="https://images.unsplash.com/photo-1644456654239-3c036c0c28fe?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1373&q=80">
            <div class="form--quote">
                Stop<br />wishing.<br />
                start<br /> <span>doing</span>

            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</ngx-smart-modal>