@font-face {
    font-family: "icons";
    src: url("./icons.eot?210eae6e285a3ddee4c1dfe44d52f96f#iefix") format("embedded-opentype"),
url("./icons.woff2?210eae6e285a3ddee4c1dfe44d52f96f") format("woff2"),
url("./icons.woff?210eae6e285a3ddee4c1dfe44d52f96f") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-account:before {
    content: "\f101";
}
.icon-arrow_forward:before {
    content: "\f102";
}
.icon-arrow_forward2:before {
    content: "\f103";
}
.icon-arrow-down:before {
    content: "\f104";
}
.icon-bike:before {
    content: "\f105";
}
.icon-calendar:before {
    content: "\f106";
}
.icon-camera:before {
    content: "\f107";
}
.icon-category:before {
    content: "\f108";
}
.icon-celebration:before {
    content: "\f109";
}
.icon-change_circle:before {
    content: "\f10a";
}
.icon-close:before {
    content: "\f10b";
}
.icon-connect:before {
    content: "\f10c";
}
.icon-error:before {
    content: "\f10d";
}
.icon-event:before {
    content: "\f10e";
}
.icon-exit:before {
    content: "\f10f";
}
.icon-eye-off:before {
    content: "\f110";
}
.icon-eye:before {
    content: "\f111";
}
.icon-foot:before {
    content: "\f112";
}
.icon-goal:before {
    content: "\f113";
}
.icon-heart_plus:before {
    content: "\f114";
}
.icon-help:before {
    content: "\f115";
}
.icon-home:before {
    content: "\f116";
}
.icon-img:before {
    content: "\f117";
}
.icon-info:before {
    content: "\f118";
}
.icon-key:before {
    content: "\f119";
}
.icon-leaderboard:before {
    content: "\f11a";
}
.icon-leaderboard2:before {
    content: "\f11b";
}
.icon-lock:before {
    content: "\f11c";
}
.icon-login:before {
    content: "\f11d";
}
.icon-logout:before {
    content: "\f11e";
}
.icon-mail:before {
    content: "\f11f";
}
.icon-medal:before {
    content: "\f120";
}
.icon-setting:before {
    content: "\f121";
}
.icon-steps:before {
    content: "\f122";
}
.icon-upload_file:before {
    content: "\f123";
}
.icon-verified:before {
    content: "\f124";
}
.icon-water_drop:before {
    content: "\f125";
}
