.appHome{
    flex:1;
}
footer{
    padding:40px 20px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    position: relative;
    
    img{
        height: 30px;
        margin-left: 10px;
    }
}