<div class="container">
  <main>
    <header>
      <div class="logo" routerLink="/">
        <img class="logo-img" src="../assets/img/logo.svg" alt="logo">
      </div>

      <div class="right">
        <app-nav></app-nav>
      </div>
    </header>
    <section class="appbody">
      <app-leaderboard></app-leaderboard>
    </section>
  </main>
</div>

<router-outlet></router-outlet>

<footer>
  Fitmojos wellness: Powered by
 <a href="https://techmojo.com" target="_blank"> <img src="https://techmojo.com/logo-light.svg" alt="Techmojo Solutions" title="Techmojo Solutions"/></a>
</footer>