<div class="container">
  <nav>
    <div class="navlinks">
      <app-nav></app-nav>
    </div>
  </nav>

  <main>
    <header>
      <div class="logo-big">
        <img class="logo-img" src="../assets/img/logo.svg" alt="logo">
      </div>

      <div class="right">
        <div class="connect-btn"><i class=" icon-connect2"></i>
          Techmojo connect</div>
        <div class="profile-btn"><i class="icon-user"></i></div>


      </div>
    </header>
    <section class="appbody">
      <app-leaderboard></app-leaderboard>

    </section>

  </main>


</div>