<!-- <span>💪</span> -->

<div class="challenges">
    <h1 class="page-title fadeIn" title="challenge">Challenges <span class="emoji"><img alt="Challenges" src="../assets/img/emoji/muscle.webp"></span></h1>
    <h3 class="leadtxt fadeInUp">Engage Employees Through Total Wellness and Skill Development    </h3>
    


    <div class="user">
        <div class="cta-right">
        <button class="btn-1 btn-md"  (click)="createChallangeOpen()">Give a challenge</button>
        </div>
        <div class="user--list" *ngFor="let challange of challangeList, index as i">
            
            <div class="icon"><i class="icon-goal"></i></div>  
            <div class="challenge">{{challange.challengeName}}</div>
            <div class="challenge">{{challange.challengeDesc}}</div>
            <div class="avatar" (click)="viewChallangeLeaderboard(challange.challengeId)"><img src="../assets/img/trophy.png" alt="trophy"> <p>View Leaderboard</p></div>
        </div>
    </div>
</div>


<ngx-smart-modal #createChallangeModal identifier="createChallangeModal" class="createChallange small-dialog" customClass="createChallange" [dismissable] = "false" >
    <button class="close-btn" (click)="createChallangeClose()"><i class="icon-close"></i></button>
    <div >
        <div class="form__fields" > 

            <div class="form__container">
                <h4 class="formtitle">Give a challenge</h4>
                <form class="" [formGroup]="createChallangeForm" >                
                    <div class="form-group" [ngClass]="getFormFiledClass('challengeName',createChallangeForm)">
                        <label for="challengeName">Name</label>
                        <input id="challengeName" class="form-control" type="text"
                            placeholder="Please enter your full name" formControlName="challengeName" name="challengeName" required>
                        <p class="errortxt" *ngIf="shouldShowErrors('challengeName',createChallangeForm)">{{getErrorMessage('challengeName',createChallangeForm)}}</p>
                    </div>
                    <div class="form-group" [ngClass]="getFormFiledClass('challengeDesc',createChallangeForm)">
                        <label for="challengeDesc">Description</label>
                        <input id="challengeDesc" class="form-control" type="email"
                            placeholder="Please enter your email" formControlName="challengeDesc" name="challengeDesc" required>
                            <p class="errortxt" *ngIf="shouldShowErrors('challengeDesc',createChallangeForm)">{{getErrorMessage('challengeDesc',createChallangeForm)}}</p>
                    </div>
                    <div class="form-group" [ngClass]="getFormFiledClass('userList',createChallangeForm)">
                        <label for="userList">User list</label>
                        <select id="userList" class="form-control" multiple placeholder="Please enter your userList" formControlName="userList" name="userList" required></select>
                        <!-- <input id="userList" class="form-control" type="text"
                            placeholder="Please enter your userList" formControlName="userList" name="userList" required> -->
                            <p class="errortxt" *ngIf="shouldShowErrors('userList',createChallangeForm)">{{getErrorMessage('userList',createChallangeForm)}}</p>
                    </div>
                
                    <button class="btn-1 btn-md submit-btn m-20" (click)="createChallange()">
                        Step in <i class="icon-arrow_forward2"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>



</ngx-smart-modal>