
@import "./assets/_variables.scss";
@import "./assets/css/_components/_reset.scss";
@import "./assets/icon-font-dist/icons.css";

body{
    font-family: $font;
    font-weight: 300;
    font-size: 14px;
    // background: #271d5a;
    
        // background: url(./assets/img/bg.png);
        background-size: cover;
        // background-blend-mode:color-dodge;
        background-color:#271d5a;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    background: #192a56;
}

app-root{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(#f5f6fa, .4);
    border-radius: 10px;
  }


  .page-title{
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 20px;
  }