
@import "./assets/_variables.scss";

@import "./assets/css/_components/_reset.scss";
@import "./assets/css/_components/_modal.scss";
@import "./assets/css/_components/_form.scss";
@import "./assets/css/_components/_animations.scss";
@import "./assets/icon-font-dist/icons.css";





body{
    font-family: $font;
    font-weight: 300;
    font-size: 14px;
    // background: #FFFFFF;
    // background: #0a3d62;
    background: #0c2461;
    
    width: 100%;

    // &::after{
    //   content: '';
    //   background: #0a3d62 url(./assets/img/bg-color-anime.svg) center/cover;
    //   position: absolute;
    //   inset: 0;
    //   background-blend-mode:luminosity;
    //   z-index: -1;
    //   opacity: .15;
    // }
  
    
}


 

app-root{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(#f5f6fa, .4);
    border-radius: 10px;
  }


  .page-title{
    font-size: 36px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 300;
    // opacity: .2;
    margin-bottom: 20px;

    // background: linear-gradient(45deg, rgba(186, 220, 88, 1), #6ab04c 20%);
    // background: linear-gradient(0deg, #5f27cd, #9c88ff 50%);
    background: linear-gradient(180deg, #fff, #4834d4 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // &:after{
    //   content: "(" attr(title) ")";
    // }
  }