$gutterGap: 20px;


.container {
    width: 100%;
    max-width: 1600px;
    display: flex;
    position: relative;

}

nav {
    width: 100px;

    transition-duration: 0.2s;
    overflow-y: auto;
    overflow-x: hidden;
    background: linear-gradient(180deg, #00d191, #00ad91 100%);

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    padding: 10px 20px;
    position: sticky;
    top: 0;

    background: #0a3d62;
    z-index: 5;

    .right {
        display: inline-flex;
        align-items: center;
    }
}

main,
.appbody {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.appbody {
    overflow: auto;
    padding: 0 $gutterGap $gutterGap ;

}

.logo {
    //width: 150px;
    cursor: pointer;
    height: 50px;
    position: sticky;
    top: 0;

    font-size: 32px;
    display: inline-flex;
    align-items: center;
    color: #546de5;

    .logo-img {
        width: 100%;
        height: 85%;
        margin-right: 6px;
        object-fit: contain;
    }
}
